@model List<Course>

<h2>Courses:</h2>
<ul class="Courses">
	@foreach (var course in Model)
	{
		<li class="course" data-courseId=@course.CourseId>@course.Name</li>
	}
</ul>

<script src="~/js/index/ShowChildren.js" asp-append-version="true"></script>
