body {
    margin: 0px;
}

.hidden{
    display: none;
}

.column{
    float: left;
    margin: 10px 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin: 0px;
    background: #ffffff;
}

ul.navbar {
    margin-top: 0px;
    background: #5ccfb6;
    height: 50px;
}

a {
    text-decoration: none;
}

.navbar a {
    background: #5ccfb6;
    color: #000000;
    padding: 0px 8px;
    line-height: 50px;
    display: block;
    border-right: 1px solid #11a395;
}

.navbar a:hover {
    background: #23ac9b;
}

.navbar > li {
    float: left;
}

.Courses {
    padding: 0px 25px;
    width: max-content;
}

.Courses ul {
    padding: 3px 25px;
}

.Courses li:hover {
    cursor: pointer;
    background: #d1fbed;
}

.group::before, .course::before {
    content: "⮩";
    padding-right: 5px;
}

.group.opened::before, .course.opened::before {
    content: "⮯";
    padding-right: 5px;
}

.dataTable {
    display: block;
    overflow: auto;
    max-height: 800px;
}

.dataTable  th {
    text-align: left;
    max-width: 160px;
    padding-right: 15px;
    font-style: italic;
}

.dataTable a {
    color: #254d93;
}

.dataTable a:hover {
    cursor: pointer;
    border-bottom: 1px solid;
    color: #5a99d7;
}

.dataTable a:active {
    text-shadow: 1px 1px 0px black;
}

.editLink {
    margin-right: 10px;
}
